/*section one*/

.sectionone_wrapper {
  display: flex;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.sectionone_wrapper h1 {
  font-size: 50px;
}

.sectionone_left {
  width: 100%;
  max-width: 800px;
}

.sectionone_right {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.sectionone_right img {
  width: 100%;
  max-width: 150px;
  margin-top: 40px;
}

/*section two*/

.sectiontwo_wrapper {
  padding: 5% 0px;
  display: flex;
  width: 100%;
  max-width: 1600px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
  margin-bottom: 10px;
}

.sectiontwo_wrapper img {
  max-width: 180px;
  filter: grayscale(100%);
}

.sectiontwo_wrapper img:hover {
  filter: none;
  cursor: pointer;
}

/*section three*/

.section_three_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1600px;
  justify-content: center;
  align-items: center;
  margin: 100px 0
}

.section_three_heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section_three_heading p {
  font-size: 18px;
}

.section_three_heading h1 {
  font-size: 30px;
}

.section_three_page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  gap: 70px;
  justify-content: center;

}

.section_part {
  width: 100%;
  max-width: 250px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, #d26fc3, #635bff);
  border-radius: 20px;
  padding: 50px;
  gap: 10px;
}

.section_part p {
  font-size: 16px;
}

.sectionthreeimg {
  width: 100%;
  max-width: 70px;
}

/*section four*/

.sectionfour_wrapper {
  display: flex;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.sectionfour_left {
  width: 100%;
  max-width: 500px;
  font-size: 20px;
}

.sectionfour_right {
  width: 100%;
  max-width: 800px;
}

.sectionfour_right img {
  width: 100%;
  max-width: 750px;
}

/*section five*/

.sectionfive_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 100px;
  color: white;
}

.sectionfive_buttons {
  display: flex;
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  gap: 270px;
}

/*Section six*/

.sectionsix_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin: 50px 0;
}

.section {
  display: flex;
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  gap: 270px;
}

.section_data {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  justify-content: center;
}

.partner_page {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 700px;
  gap: 20px;
  justify-content: center;
}

.partner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 120px;
  border: 2px solid #6c5ce7;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
}

.partner h4,
.partner h5 {
  margin: 0;
}

.partnerimg {
  max-width: 100px;
}

/*section seven*/

.section_seven_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  background-color: white;
}


.section_seven_cards {
  display: flex;
  padding: 0 10px;
}

.section_seven_part {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #6c5ce7;
  border-radius: 10px;
  padding: 30px 20px;
  width: 95%;
  max-width: 250px;
  color: #6c5ce7 ;
}

.highlight_card {
   border: 2px solid #7c4dff; 
    transform: scale(1.1); 
    background-color: #f8f5ff; 
    box-shadow: 0 8px 20px rgba(124, 77, 255, 0.2);
    z-index: 2;
}

.price {
  font-size: 30px;
}

.section_seven_part span {
  color: red;
}

.section_seven_button {
    color: #6c5ce7;
    background-color: white ;
    border-radius: 20px;
    border: 2px solid #6c5ce7 ;
    padding: 10px 0px;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    max-width: 150px;
}

.section_seven_button:hover {
    cursor: pointer;
}

.section_seven_blog {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background: linear-gradient(45deg, #a37e2c, #006039, #a37e2c, #006039);

}

.blogimage {
  margin: 50px;
  width: 100%;
  max-width: 500px;

}

.rightside {
    margin: 50px;
    color: white;
    font-size: 24px;
    width: 100%;
    max-width: 500px;

}

.sectionsevenimg {
  width: 100%;
  max-width: 50px;
}

.section_seven_partners {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: white;
  margin-bottom: 10px;
}

.section_seven_partners img {
  max-width: 180px;
  filter: grayscale(100%);
}

.section_seven_partners img:hover {
  filter: none;
  cursor: pointer;
}

/*section eight*/

.section_eight_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1500px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 10px;
}

.section_eight_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}